
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-gear fa-fw"></i> Controls
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="controlsView">

                                <form role="form">
                                        
                                    <div class="form-group">
                                        <label class="label-block">Maximum capacity</label>
                                        <input class="form-control form-inline form-50" placeholder="Enter power plant maximum capacity in MW" ng-model="capacityInput">
                                        <div class = "div-inline"> Current maximum capacity value is </div>
                                    </div>
                                
                                    <div class="form-group">
                                        <label class="label-block">Costs</label>
                                        <input class="form-control form-inline form-50" placeholder="Enter power plant costs per MWH" ng-model="costsInput">
                                        <div class = "div-inline"> Current costs per MWH are </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" ng-click="sendControls(capacityInput, costsInput)">Submit</button>
                                    
                                </form>

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Dashboard
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <!-- /.list-group -->
                            <a href='#/' class="btn btn-default btn-block">View Dashboard</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Transactions
                        </div>
                        <div class="panel-body">
                            <div id="controls"></div>
                            <a href="#/transactions" class="btn btn-default btn-block">View Transactions</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-4 -->
            </div>