            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Capacity and Production
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="production"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Revenue, Total Variable Costs and Profit
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="profit"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                     
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Price and Unit Costs
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="price">tr</div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Transactions
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <!-- /.list-group -->
                            <a href='#/transactions' class="btn btn-default btn-block">View Transactions</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-gear fa-fw"></i> Controls
                        </div>
                        <div class="panel-body">
                            <div id="controls"></div>
                            <a href="#/controls" class="btn btn-default btn-block">Change Controls</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->

    <script>
   // var socket = io('http://localhost:8010/subscriptions');
    $('body').chartProduction(socket);
    $('body').chartPrice(socket);
    $('body').chartProfit(socket);
  </script>