
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-gear fa-fw"></i> Controls
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="controlsView">

                                <form name="controlsForm" role="form" novalidate>
                                        
                                    <div class="form-group" novalidate>
                                        <label class="label-block">Maximum capacity</label>
                                        <input type="number" min="0" class="form-control form-inline form-50" placeholder="Enter power plant maximum capacity in MW" name="capacity" ng-model="capacityInput" required>
                                        <div class = "div-inline"> Current maximum capacity value is {{capacity}} MW. </div>
                                        <p ng-show="controlsForm.capacity.$error.min" class="help-block">Capacity cannot be a negative number.</p>
                                        <p ng-show="controlsForm.capacity.$error.number" class="help-block">Capacity should be a number.</p>
                                        <p ng-show="controlsForm.capacity.$error.required && !controlsForm.capacity.$pristine" class="help-block">Please enter a valid number.</p>
                                    </div>
                                
                                    <div class="form-group">
                                        <label class="label-block">Costs</label>
                                        <input type="number" min="0" class="form-control form-inline form-50" placeholder="Enter power plant costs per MWH" name="costs" ng-model="costsInput" required>
                                        <div class = "div-inline"> Current costs per MWH are {{costs}} USD/MWH. </div>
                                        <p ng-show="controlsForm.costs.$error.min" class="help-block">Costs cannot be a negative number.</p>
                                        <p ng-show="controlsForm.costs.$error.number" class="help-block">Costs should be a number.</p>
                                        <p ng-show="controlsForm.costs.$error.required && !controlsForm.costs.$pristine" class="help-block">Please enter a valid number.</p>
                                    </div>
                                    <button type="submit" class="btn btn-primary" ng-click="sendControls(capacityInput, costsInput)">Submit</button>
                                    
                                </form>

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Dashboard
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            <!-- /.list-group -->
                            <a href='#/' class="btn btn-default btn-block">View Dashboard</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Transactions
                        </div>
                        <div class="panel-body">
                            <div id="controls"></div>
                            <a href="#/transactions" class="btn btn-default btn-block">View Transactions</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-4 -->
            </div>